// Home
body.index
  .home.hero
    background-image: url(/img/unicorn-mask.svg)
    background-size: cover

    h1.title
      font-size: 3.5rem

// About
body.protocol
  .layers
    .column
      position: relative

      .layer


      .pointer
        position: absolute
        right: 10px
        top: 29px

  .box.blockchain
    color: $tl-blue
    font-weight: bold
    font-size: 1.125rem

    img
      margin-top: 1.5rem
      margin-bottom: 1.5rem
      min-height: 8.5rem

// Modal Dialog
.modal .content
  h1, h2
    margin-top: 1rem !important


// General content styling
.content
  font-size: 1rem

  &.content-large, .content-large
    font-size: 1.15rem

  ul
    & li
      list-style-type: none
      margin-left: 2rem
      position: relative

      & > ul > li:before
        position: absolute
        margin-left: -1rem
        content: "\2013"


    & > li:before
      content: "\25AA"
      position: absolute
      margin-left: -1rem

    & > li.has-no-icon:before
      content: none

  figure
    margin: 1rem 2rem

  h1
    color: $tl-blue
    font-weight: 900
    font-size: 2rem
    margin-top: 7rem !important

  h1:nth-child(1), h2:nth-child(1)
    margin-top: 2.5rem !important

  h2
    color: $tl-blue
    font-weight: 900
    font-size: 1.5rem
    border-bottom: .1rem solid $tl-blue
    margin-top: 7rem !important
    padding-bottom: 1rem

  h3
    color: $tl-grey
    font-size: 1.125rem
    font-weight: bold
    margin-top: 2.5rem !important

  p
    margin-bottom: 2rem

  a
    color: $tl-blue

  hr
    background-color: $tl-blue-light
    margin: 2.25rem 0 3rem 0

  img
    max-width: 95%
