<div class="content m-t-xl m-b-xl">

  <p>The following documentation is a step by step guide for participating in the Trustlines validator auction. Important security notes:</p>

  <ul>
    <li>
      <strong>Beware of Scams</strong>
      <ul>
        <li>Scammers may target the Trustlines Network community. Make sure to check the monitored communication channels.</li>
      </ul>
    </li>
    <li>
      <strong>Please do not...</strong>
      <ul>
        <li>Enter your private key on one of our websites.</li>
        <li>Publicly reveal your identity.</li>
        <li>Privately send cryptocurrency or FIAT payments via a direct message to anyone that asks for this.</li>
      </ul>
    </li>
  </ul>


  <h2>Disclaimer</h2>

  <p>Please note that even though we do our best to ensure the quality and accuracy of the information provided, this publication may contain views and opinions, errors and omissions for which the content creator(s) and any represented organization cannot be held liable.</p>
  <p>The wording and concepts regarding financial terminology (e.g. “payments”, “IOU”, “currency”, “credit”, “debt”, “transfer” [of value]) are exclusively used in an exemplary way to describe technological principles and do not necessarily conform to the real world or legal equivalents of these terms and concepts.</p>


  <h2>Official communication channels</h2>

  <p>Protect yourself from phishing attacks by bookmarking the official Trustlines communication channels:</p>

  <ul>
    <li>Medium: <a href="https://medium.com/@TrustlinesFoundation">https://medium.com/@TrustlinesFoundation</a></li>
    <li>Reddit: <a href="https://www.reddit.com/r/Trustlines/">https://www.reddit.com/r/Trustlines/</a></li>
    <li>Twitter: <a href="https://twitter.com/TrustlinesFound">https://twitter.com/TrustlinesFound</a></li>
    <li>Youtube: <a href="https://www.youtube.com/channel/UCdNvItQZDL8Qj0HJGIM_AYA">https://www.youtube.com/channel/UCdNvItQZDL8Qj0HJGIM_AYA</a></li>
    <li>Gitter: <a href="https://gitter.im/trustlines">https://gitter.im/trustlines</a></li>
    <li>Trustlines Foundation Website: <a href="https://auction.trustlines.foundation">https://auction.trustlines.foundation</a></li>
  </ul>


  <h2>Participation requirements</h2>

  <ul>
    <li>Make yourself familiar with how the Trustlines validator auction works. Visit the auction.trustlines.foundation website and watch the <a href="https://youtu.be/DFrg6EaOUOk">Trustlines Auction Explained</a> video.</li>
    <li>Make sure you have been accepted and signed up as a <a href="https://medium.com/trustlines-foundation/become-a-trustlines-validator-candidate-using-proof-of-sociality-ef67d0cf1e86">Trustlines auction validator candidate</a>.</li>
    <li>Make sure you have whitelisted your ETH address.</li>
    <li>Use a wallet where you can specify a gas limit. This documentation uses <a href="http://metamask.io/">MetaMask</a>.</li>
    <li>
      Make sure the auction is started and ongoing. Go to the website and look at the remaining time for the auction. If a remaining time is displayed and counting down, the auction is ongoing.<br />
      <figure class="image">
        <img src="/img/screen-0001.png" />
      </figure>
    </li>
    <li>Otherwise, a text such as “Not Started” or “Finished” will describe the status of the auction.</li>
    <li>Alternatively, you can observe the starting time of the auction on the graph.</li>
    <li>
      Look at the current slot price. You can see this in the auction website on the bottom right as shown on the screenshot.<br />
      <figure class="image">
        <img src="/img/screen-0002.png" />
      </figure>
    </li>
  </ul>


  <h2>Make a bid</h2>

  <ul>
    <li>To bid in the auction, you need to send a transaction to the auction contract with enough gas and an amount of Ether that is greater or equal to the current slot price.</li>
    <li>
      Any excess Ether will be refunded later. You can find the auction contract address on the website.<br />
      <div class="columns">
        <div class="column">
          <figure class="image">
            <img src="/img/screen-0003.png" />
          </figure>
        </div>
        <div class="column">
          <figure class="image">
            <img src="/img/screen-0004.png" />
          </figure>
        </div>
      </div>
    </li>
    <li>You may need to go to the “Advanced Options” to set the gas limit by yourself.</li>
    <li>MetaMask will use the default gas limit of 21,000, which is too low. We recommend a gas limit of 400.000. <strong>Note that this is a limit and setting it too high has no consequences on the effective price of the transaction while setting it too low may cause the transaction to fail.</strong></li>
    <li>You can leave the gas price as suggested by MetaMask.</li>
  </ul>


  <h2>Confirm the bid</h2>

  <ul>
    <li>Use Etherscan or your wallet to confirm that the bid was successful.</li>
    <li>
      If the bid was successful, the transaction will be displayed as “Confirmed”:<br />
      <figure class="image">
        <img src="/img/screen-0005.png" />
      </figure>
    </li>
    <li>Use the auction website to see your bid shown on the graph, as illustrated in the screenshot below.</li>
    <li>
      To see the details of the transaction, hover over the point corresponding to your bid.<br />
      <figure class="image">
        <img src="/img/screen-0006.png" />
      </figure>
    </li>
    <li>Wait until the auction completes before following further steps in the documentation.</li>
  </ul>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

</div>
