<div class="content m-t-xl m-b-xl">

  <h2>Determine the auction’s outcome</h2>

  <p>The auction can end with three different results.</p>

  <ul>
    <li>Case 1: The number of bidders reaches 55. Regardless of the time remaining in the auction period, nobody can bid anymore and the auction is over. The final price of the auction is the price of the last bidder.</li>
    <li>Case 2: The two weeks for the auction are elapsed and the number of bidders is between 20 and 54 included. The auction is successful and the number of validators is equal to the number of bidders. The final price of the auction is the price of the last bidder.</li>
    <li>Case 3: The two weeks for the auction have elapsed but the number of bidders is below 20. The auction is deemed failed and no bidder will become a validator. Bidders will be able to withdraw their whole bid.</li>
  </ul>

  <p>In all three cases, the instructions for withdrawal are the same as described in section 2.2. In case 1 &amp; 2 the auction contract will calculate and refund the difference between the bid price and the final slot price. In case, 3 the auction contract will return the full bid amount.</p>


  <h2>Make a withdrawal using Etherscan</h2>

  <figure class="image">
    <img src="/img/screen-0007.png" />
  </figure>

  <p>Once the auction contract is set in the “Ended” or “Failed” state, users can withdraw their overbid by calling the “withdraw()” function on the auction contract with the address used for bidding.</p>

  <ul>
    <li>
      To do that, go to the auction contract on etherscan: <a href="https://etherscan.io/address/{{ env.AUCTION_ADDRESS }}">https://etherscan.io/address/{{ env.AUCTION_ADDRESS }}</a><br />
      <figure class="image">
        <img src="/img/screen-0008.png" />
      </figure>
    </li>
    <li>
      Click on “Contract” and “Write Contract” then “Connect to Web3” to be able to send a transaction to any public functions of the contract via your Web3 interface.<br />
      <figure class="image">
        <img src="/img/screen-0009.png" />
      </figure>
    </li>
    <li>
      You can then click on “Write” under the “withdraw” function to send a transaction to the contract withdrawing your overbids.<br />
      <figure class="image">
        <img src="/img/screen-0010.png" />
      </figure>
    </li>
    <li>This will open your Web3 interface asking you to sign the transaction. Once the transaction is successful, you should receive your overbid and your participation in the auction is over.</li>
  </ul>


  <h2>(Optional): Detailed procedure for closing the auction manually</h2>

  <p>Before a withdrawal is possible, the auction contract needs to be put in a withdrawal state. This can be done by anyone, but will most likely be done by the Trustlines Foundation. To do this by yourself, determine the correct case and follow the instructions below. Note that these instructions will not work if the auction is ongoing.</p>

  <ul>
    <li>Case 1: After reaching 55 bidders, the auction automatically goes to the “depositPending” state. The deposits must be transferred from the auction contract to the locker contract used for holding stakes. This is done by calling the depositBids() function on the contract. The contract will then be in the “Ended” state where users can withdraw their overbids.</li>
    <li>Case 2: After two weeks, no one can bid in the auction anymore, the auction needs to be closed by calling the closeAuction() function. Deposits need to be transferred from the auction contract to the locker contract used for holding stakes by calling the depositBids() function. The contract will then be in the “Ended” state where users can withdraw their overbids.</li>
    <li>Case 3: After two weeks, no one can bid in the auction anymore, the auction needs to be closed by calling the closeAuction() function. The contract will then be in the “Failed” state where users can withdraw their whole bids.</li>
  </ul>

  <p>&nbsp;</p>
  <p>&nbsp;</p>

</div>
