{% set pageId = "404" %}
{% extends "layout/_main.njk" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="content">
      <h1>Page not found</h1>

      <p>The page you are looking for doesn&#x27;t exist or has been moved.</p>

      <p>Go back to the <a href="/index.html">home page</a></p>
    </div>
  </div>
</section>
{% endblock %}
