{% set pageId = "faq" %}
{% extends "layout/_main.njk" %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="content">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">

            <h2>Basics</h2>

            <h3>What is a trustline?</h3>
            <p>A trustline can be defined as a bilateral credit/trust relationship between individual people or entities. It encompasses two credit lines (each party giving one to the other party) as well as a balance which indicates if and how much credit one
              party has drawn from the other.</p>

            <h3>What is a credit line?</h3>
            <p>A credit line can be referred to as an (informal) agreement between two trusting users (e.g. friends), which allows one user to draw on credit given by the other. A credit line exists in the context of a currency network and therefore implicitly
              states the currency in which the accounting is done.
            </p>

            <h3>What are IOUs (I Owe You)?</h3>
            <p>An IOU is defined as an informal acknowledgement issued in a trustline from one party to the other. An IOU reduces the amount of credit available to one party and increases the amount of credit available to the other. During a transfer,
              outstanding IOUs are set-off before the credit of a credit line is drawn.</p>

            <h3>What is a balance?</h3>
            <p>The balance refers to the value of an IOU within a trustline. If the value is 0, no IOU has been issued.</p>

            <h3>What is a multihop payment?</h3>
            <p>A multi-hop payment refers to the mechanism used when multiple users in a currency network cooperate (implicitly as part of the agreement with the network) to facilitate a transfer between users that have no direct trustline agreement. The path
              encompasses all involved users and their trustlines. The IOU transfer is exclusively between sender and receiver (who exchanged something of value to receive an IOU in one of their trustlines).</p>

            <h3>What is a path?</h3>
            <p>A path refers to the trustlines used between the sender and receiver during a multihop payment (see multihop payment). The path encompasses all involved users and their involved trustlines.
            </p>

            <h3>Can anyone issue a credit line, trustline or create a currency network?</h3>
            <p>Yes.</p>

            <h3>How do you use Trustlines?</h3>
            <p>Users are presumed to make use of the Trustlines Protocol (see Trustlines Protocol) with an application.</p>

            <h3>Can I change the credit I have given my friends?</h3>
            <p>Yes. You can update the amount of credit you want to trust your friend with at any point in time, except if your friend has already exceeded the new limit you want to set before you update it.</p>

            <h3>How do I settle a trustline with a friend?</h3>
            <ol>
              <li>Agree on the conditions in the real world (e.g. your friend pays you with money for the amount of credit he's drawn or you exchange a good or service in return for settlement)</li>
              <li>Update the Trustline balance</li>
            </ol>

            <h3>What happens if my friend won't pay me back (defaulting)?</h3>
            <p>Nothing will happen in the system and you can continue using Trustlines. You may have lost some real world value, which is why you should only give trustlines to people you trust and in amounts that you're, in the worst case, willing to lose.</p>

            <h3>How do you close a trustline?</h3>
            <p>Reduce the balance of your trustline to 0. Once this is done, either party can close the trustline.</p>

            <h3>Can friends change the credit I give them?</h3>
            <p>No. The person giving the credit line always sets the amount of credit they're willing to provide. Even though users can request a credit change any change needs to be accepted by the creator/giver of the credit.</p>

            <h3>Can the Trustlines Foundation, or any other entity, close my trustlines, block or delete my account?</h3>
            <p>This would depend on the currency network you had created the trustline in. All currency networks that the Trustlines Foundation would initially deploy are set up in a way that no other entity can close, block or delete a user. Signing any
              transaction requires access to your private key, which nobody should have access to beside you. Please be sure that any application you use to interact with the Trustlines Blockchain does not give access to your private key to any third party.
            </p>

            <h3>Can I leave currency networks?</h3>
            <p>Yes. To leave you need to close (see close) all your trustlines.</p>

            <h2>General</h2>

            <h3>What is the Trustlines Network?</h3>
            <p>The Trustlines Network ecosystem (short: Trustlines Network) describes the ecosystem of individuals, projects, and entities aligned on the idea of mapping trust-based relationships on to trustless infrastructure. Sometimes this is also simply
              referred to as the Trustlines Network. No single entity owns, is or can be in charge of this construct.</p>

            <h3>What problem are you solving?</h3>
            <p>The Trustlines Foundation is promoting financial and economic inclusion of all people through decentralized peer-to-peer network protocols that serve common accounting.</p>

            <h3>Do you have a whitepaper?</h3>
            <p>There is no whitepaper but you can view all relevant code within Github and you can read the
              <a href="/trustlines-101.html">Trustlines 101</a>
              here</p>

            <h3>When will all of this be live?</h3>
            <p>Trustlines Blockchain is currently live on testnet and aims to go live on mainnet Q4 of 2019.</p>

            <h2>Currency Networks</h2>

            <h3>What is a currency network?</h3>
            <p>The Trustlines currency networks are the foundation of the Trustlines functionalities and are implemented on-chain. This contract type is the core smart contract that end users can interact with. The contract records all properties a currency
              network has (e.g. symbol, name of currency network and fee structure) and account information (e.g. users - blockchain addresses, balances and trustlines). Trustlines are modeled as “accounts” within the currency networks and keep a record of the
              credit lines two parties have agreed upon as well as their current balance.</p>

            <h3>Are transfers of currency network IOUs and transfers of collateralized tokens (e.g. Bitcoin) the same?</h3>
            <p>No. Collateralized tokens such as Bitcoin or TLC are backed by a certain collateral such as hashing power (in the case of Bitcoin) or stake (in the case of TLC). Currency networks inherit their values from the trust that exists between the
              individual users on the network.</p>

            <h3>How do I join a currency network</h3>
            <p>To join a currency network you need to send a Trustlines request to another person that is also using the Trustlines Blockchain.</p>

            <h3>How do I create a currency network?</h3>
            <p>Follow the specification for currency network smart contracts on our
              <a href="https://github.com/trustlines-protocol">GitHub</a>.</p>

            <h3>Is it possible to make a currency network with interests set on trustlines?</h3>
            <p>Yes, if this is enabled in the smart contract that defines the currency network, users can add interest rates on a trustline. This would allow the issuer of the IOU to increase his or her credit limit at the cost of an added interest fee.</p>

            <h3>Is it possible to make a currency network with a limit on the no. of users that can join?</h3>
            <p>Yes, though this must be defined in the currency network smart contract.</p>

            <h3>With no governance such as central banks or government, how can monetary policy be enforced?</h3>
            <p>Smart contracts define the monetary policy of the currency network. A currency network creator can specify many conditions such as</p>
            <ul>
              <li>the maximum number of trustlines that a user can have</li>
              <li>the maximum value that a trustline can have</li>
              <li>whether interest can be added</li>
              <li>whether joining the network is open or permissioned/closed</li>
            </ul>

            <h2>Relay Servers</h2>

            <h3>What are relay servers?</h3>
            <p>The relay servers are an optional bridge between client applications and the Trustlines Blockchain. They offer services that are not feasible to be implemented on-chain or within the client apps. They are a back-end service that implements main
              features to connect the users to the smart contract system:</p>
            <ul>
              <li>Forwarding user signed transactions from a mobile app to the Trustlines Blockchain</li>
              <li>Indexing and storing event information</li>
              <li>Sending relevant blockchain events (including push notifications) to the mobile app</li>
              <li>Discovering a path between a sender and a receiver in the graph of trustlines by using Dijkstra's Algorithm, considering the shortest path in a number of hops.</li>
            </ul>
            <p>Users do not need to trust relay servers with their accounts (private keys), as transactions are signed locally on their device and validated by the currency networks on the Trustlines Blockchain.</p>

            <h3>What are the requirements for running a Relay Server?</h3>
            <p>You can find the specifications needed to run a relay server on our
              <a href="https://github.com/trustlines-protocol/relay">GitHub</a>.</p>

            <h3>Do users need to use a path that is calculated by a relay server or are there alternatives?</h3>
            <p>It is possible to calculate and specify your own path or even use your own relay server. However, most users might prefer not to do so.</p>

            <h3>How do relay servers collect topology for the pathfinding process?</h3>
            <p>If the relay server uses the code which is provided by the Trustlines Foundation via
              <a href="https://github.com/trustlines-protocol/relay">Github</a>
              it will use Dijkstra's algorithm to find the shortest path between sender and receiver.</p>

            <h2>Blockchain</h2>

            <h3>Why are you using a blockchain?</h3>
            <p>Our design decision was to build the Trustlines Network as a decentralized P2P system. A blockchain is a natural fit for such a system, because it is good at tamper-proof accounting, can, with the right design, provide censorship resistance and
              allows for decentralized governance of the system.</p>

            <h3>How does the sidechain work?</h3>
            <p>The Trustlines Blockchain will be a minimal viable Proof-of-Stake (mPoS) Ethereum sidechain based on
              <a href="https://wiki.parity.io/Aura">Parity’s Aura consensus algorithm</a>. Aura (known from Kovan, poa.network, xDAI, and others) is usually used in PoA chains. We added the following features:</p>
            <ol>
              <li>Anonymous validators</li>
              <li>Staking and slashing mechanisms to combat equivocation</li>
              <li>Hard-forking as an additional defense mechanism</li>
            </ol>

            <h3>How’s the Trustlines Blockchain different from dPoS?</h3>
            <p>Validator slots cannot be delegated, hence the Trustlines Blockchain does not support dPoS. Also, dPoS typically relies on social reputation systems which is not the case for our approach.</p>

            <h2>Validators</h2>

            <h3>What is a Trustlines validator?</h3>
            <p>A Trustlines validator is a person or entity that has won the validator auction and is part of the active validator set of the Trustlines Blockchain. Initially, the Trustlines Blockchain will have a maximum of 55 validator slots which will have
              one Trustlines validator per slot. The number of validators and validator slots may increase or decrease in the future according to what the Trustlines community decides. The validators have the responsibility of ensuring the security of the
              Trustlines Blockchain by validating transactions and adding blocks to the existing blockchain. They earn Trustlines Network Coins in form of transaction fees and block rewards in this process. Additionally, Trustlines validators monitor the
              Trustlines bridge to ensure a Trustlines Network Token to Trustlines Network Coin transfer and decide on blockchain forks and resulting protocol changes with the rest of the Trustlines ecosystem. To ensure that a Trustlines validator is able to
              fulfill his role, we suggest that a Trustlines validator should meet the following criteria:</p>
            <ul>
              <li>Be technologically minded and able to run a Trustlines Blockchain node without a dedicated UI</li>
              <li>Have the necessary financial means to take part in the validator auction</li>
              <li>Understand the operational and legal risks associated with this activity</li>
              <li>Understand the responsibilities of being a Trustlines validator</li>
            </ul>

            <h3>What are the requirements of becoming a Trustlines validator?</h3>
            <ol>
              <li>Sign up with us to be a part of the Validator candidate set</li>
              <li>You'll get an email with more info and how provide your Ethereum address to an independent third party</li>
              <li>You'll be whitelisted to take part in the validator auction</li>
              <li>Bid to stake ETH in the validator auction</li>
              <li>If you have secured a validator slot, you can run the Trustlines Blockchain node to validate and earn TLC.</li>
            </ol>

            <h3>Why do you need my email and name if validators are anonymous?</h3>
            <p>The Trustlines Foundation uses your email to notify you where you can whitelist an Ehereum address so that you may bid at the validator auction. Note that you do not need to use a personal email for this process and that the emails will be deleted
              afterwards. We welcome that you use a throwaway email (see
              <a href="https://www.google.com/search?q=throwaway+email">google throwaway email</a>), but note that the time at which you add your email and receive an email from the Trustlines Foundation can vary greatly (up to 9 months depending on when the next
              validator auction starts). Therefore, consider using an email you can access at a later point in time.</p>

            <h3>How many Trustlines Network Coins will I earn?</h3>
            <p>The initial block reward will be 3 TLC. Transaction fees added to the block are variable.</p>

            <h3>I'm not good at checking my email, how do I keep up?</h3>
            <p>Follow us on
              <a href="https://twitter.com/TrustlinesFound">Twitter</a>!</p>

            <h3>I won a slot at the auction and I’m a Trustlines validator, what now?</h3>
            <ul>
              <li>
                <strong>Run a validator node</strong><br/>
                Now you need to launch a Trustlines validator node. If you’re unsure how to do this, start by familiarizing yourself with the process by
                <a href="https://youtu.be/ozB--QRiPvw">watching this video</a>. You can find the full
                <a href="https://github.com/trustlines-protocol/blockchain#quickstart">documentation</a>
                on the
                <a href="https://github.com/trustlines-protocol">Trustlines Protocol Github</a>
                organization.
              </li>
              <li>
                <strong>Participate in governance</strong><br/>
                The Trustlines Foundation currently announces proposed forks on
                <a href="https://www.reddit.com/r/Trustlines/">Reddit</a>
                which you will need to familiarize yourself with. You can discuss the proposed forks and other governance topics on the Trustlines reddit or any other forum that validators wish to use.
              </li>
            </ul>

            <h3>What happens after 9 months?</h3>
            <p>Once the 9 months have passed, validators can withdraw their stake provided it didn’t get slashed due to equivocation. A new auction will be announced to find the next set of validator candidates.</p>

            <h3>How technically savvy should I be to run a Trustlines node?</h3>
            <p>You should know how to install a node and patch software updates regularly via your terminal.</p>

            <h3>What happens if I win a slot but I don’t run a Trustlines node?</h3>
            <p>You will fail to propose any blocks and will subsequently not earn any Trustlines Network Coins (TLC). After some time of inactivity, active validators would most likely propose a fork which would remove you from the validator set. Keep in mind
              that this will not negatively affect your ETH staked on Ethereum.</p>

            <h3>What happens if I won a slot but the Trustlines protocol fails/people lose interest?</h3>
            <p>After 9 months have passed, you will still be able to reclaim your initial stake. Any other resources invested such as paying for server uptime will be your costs to bear and you will not be able to ask for compensation. Please see the
              <a href="/terms-conditions.html">Terms and Conditions</a>
              for details.</p>

            <h2>Auction</h2>

            <h3>What is the Trustlines auction?</h3>
            <p>The Trustlines validator auction is a Dutch auction held to discover the fair opportunity cost value, i.e. price of a validator slot. The Ethereum addresses of successful bidders in a successful auction will be included in the validator set.</p>

            <p>
              <strong>Acceptable tokens for a bid</strong>: The auction is a smart contract on the Ethereum mainchain. Note that the smart contract will not accept any other tokens than ETH as a bid.</p>
            <p>
              <strong>Participation</strong>: To be able to participate in the auction, your Ethereum address must have been whitelisted by the Trustlines Foundation prior to the start of the auction. Every whitelisted Ethereum address can participate in the auction only once.</p>
            <p>
              <strong>Timing</strong>: The auction ends at the earliest of two full calendar weeks starting from the start date or when the 55th successful bid is received by the smart contract. Whichever comes first.</p>
            <p>
              <strong>Threshold</strong>: If fewer than 20 Ethereum addresses have successfully participated at the time the auction ends, it will fail. No validator slots will be awarded and all participants can withdraw their bids. If 20 or more successful bids
              were received, the auction will succeed.</p>
            <p>
              <strong>Limited validator slots</strong>: 55 validator slots are up for auction for the first 9-month validation period.</p>

            <h3>How can I whitelist my Eth address to participate in the auction?</h3>

            <p>
              <strong>Offline</strong>: To sign up offline, meet the Trustlines team in person at a meetup or conference. Follow us on
              <a href="https://twitter.com/TrustlinesFound">Twitter</a>
              to see when and where the next possibilities to sign up occur.</p>
            <p>
              <strong>Online</strong>: Use
              <a href="https://medium.com/trustlines-foundation/become-a-trustlines-validator-candidate-using-proof-of-sociality-ef67d0cf1e86">Proof-of-Sociability</a>. Send a DM with your email address to
              <a href="https://twitter.com/tl_validator">@tl_validator</a>
              on Twitter.</p>

            <h3>Why should I be a Trustlines validator?</h3>
            <p>The Trustlines Blockchain is a minimal viable Proof of Stake sidechain to Ethereum and is governed by a greenfield governance model. In this experimental consensus model, validators can gain technical and governance experience.</p>
            <p>Besides the technical validator capabilities mentioned above, validators will also receive block rewards (as to be defined within the chain spec) in the form of Trustlines Network Coins. This only applies under the condition that they actively run
              their validator node and take part in block creation. They will also be in a position to charge transaction fees for transactions that are included within the blocks a validator creates.</p>
            <p>Note that receiving block rewards and transaction fees is dependent on a community of emerging validators and the potential users of the Trustlines Blockchain. The Trustlines Foundation cannot guarantee that a Trustlines Blockchain including the
              chain spec as proposed by the Trustlines Foundation actually emerges out of the actions of these third party stakeholders. Hence, participating in the auction and thereby agreeing to the
              <a href="/terms-conditions.html">Terms and Conditions</a>
              does not entail a right or an entitlement in any way whatsoever to either becoming and/or remaining a validator or receiving block rewards and/or transaction fees.</p>

            <h3>What happens when the auction ends?</h3>
            <p>The slot price is defined as the last successful bid. This amount will be locked as your stake for 9 months. Consequently, you will need to start your Trustlines node with validator rights and begin proposing blocks. Any amount you bid above the
              final slot price can be withdrawn once the auction smart contract is set in a withdrawal state. Please see the
              <a href="/auction.html">auction page</a>
              for further details.</p>

            <h3>What are the risks of bidding at the auction?</h3>
            <p>By participating in the auction, you expressly acknowledge and assume the following risks:</p>
            <ul>
              <li>Risk​ ​of​ ​losing​ a validator slot, ETH bid or stake​ due​ ​to​ ​loss​ ​of​ private​ ​key(s);</li>
              <li>Risks​ ​associated​ ​with​ ​the​ ​Ethereum​ blockchain: any malfunction, breakdown or abandonment of the Ethereum blockchain may have a material adverse effect on the smart contracts;</li>
              <li>Risk​ ​of​ ​mining​ ​attacks: the auction smart contract is susceptible to attacks by miners in the course of validating bids on the Ethereum blockchain, including, but not limited to, double-spend attacks, majority mining power attacks, and
                selfish-mining attacks. Any successful attacks present a risk to the auction including, but not limited to, accurate execution and recording of bids;</li>
              <li>Risk​ ​of​ ​hacking​ ​and​ ​security​ ​weaknesses: hackers or other malicious groups or organizations may attempt to interfere with the auction in a variety of ways, including, but not limited to, malware attacks, denial of service attacks,
                consensus-based attacks, sybil attacks, smurfing, and spoofing;</li>
              <li>Risk​ ​of​ ​uninsured​ ​losses: unlike bank accounts or accounts at financial institutions, the ETH held in the auction smart contract is uninsured unless you specifically obtain private insurance to insure them. Thus, in the event of loss or
                loss of utility value, there is no public insurer or private insurance arranged by the Trustlines Foundation, to offer recourse to you;</li>
              <li>Risks​ ​associated​ ​with​ ​uncertain​ ​regulations​ ​and​ ​enforcement​ ​actions: the regulatory status of, including, but not limited to, the auction, the validator slots, and distributed ledger technology is unclear or unsettled in many
                jurisdictions. It is difficult to predict how or whether regulatory agencies may apply existing regulation with respect to such technology and its applications. It is likewise difficult to predict how or whether legislatures or regulatory agencies
                may implement changes to law and regulations affecting distributed ledger technology and its applications, including but not limited to the auction and the validator slots. Regulatory actions could negatively impact the whole Trustlines Protocol in
                various ways, including, for purposes of illustration only, that some or all of the parties involved in the Trustlines Protocol in general might require licensing or is subject to existing legislation;</li>
              <li>Risks​ ​arising​ ​from​ ​taxation; the tax characterization of acquiring a validator slot and/or acting as a validator is uncertain. You must seek your own tax advice in connection with your partaking in the auction, which may result in adverse
                tax consequences to you, including withholding taxes, income taxes and tax reporting requirements.</li>
              <li>Unanticipated​ ​risks: blockchain technology and the Trustlines Protocol are a new and untested technology. In addition to the risks referred to above, there are other risks associated with your partaking in the Trustlines auction, including
                unanticipated risks. Such risks may further materialize as unanticipated variations or combinations of the risks previously referred to.</li>
            </ul>

            <h2>Tokens</h2>
            <h3>Are you going to do an ICO?</h3>
            <p>Trustlines Network Tokens will be distributed via a Merkle drop to a wide range of recipients (see
              <a href="/merkle-drop.html">Merkle drop website</a>). We will also consider other distribution models in the future.</p>

            <h3>What will the block reward be?</h3>
            <p>The initial block reward of the Trustlines Blockchain will be 3 Trustlines Network Coins (TLC) per block.</p>

            <h3>Does Trustlines have tokens on Ethereum?</h3>
            <p>Yes. The Trustlines Network Token (TLN) is an ERC20 token on the Ethereum mainchain.</p>

            <h3>Do new users need to buy the Trustlines Network Token in order to join the Trustlines Blockchain?</h3>
            <p>New users can choose to</p>
            <ol>
              <li>Use existing delegate services to pay transaction fees for them. The delegate services use the logic of meta transactions so that users do not need to pay for transactions in Trustlines Network Coins but can agree on other payments with the
                person or entity running such delegate services.</li>
              <li>Buy TLC on the market.</li>
              <li>Buy TLN on the market and transfer them to the Trustlines Blockchain.</li>
            </ol>

            <h3>Who will receive tokens in the Merkle drop?</h3>
            <p>The Merkle drop aims to reach a broad audience covering early contributors, testers, developers, potential stakeholders, and more generally a wide audience from the crypto and community currency ecosystems.</p>

            <h2>Uses cases and Cooperation</h2>

            <h3>What is People-Powered Money (PPM)?</h3>
            <p>The Trustlines Network supports the creation of blockchain-based p2p currency networks. In dense societal networks and due to the transitive nature of financial relationships, one could imagine a plethora of financial use cases that employ these
              networks. Chief among them would be the ability to engage in economic transactions that could be viewed as a substitute for general payments of all kinds. This twist, i.e. the transition from a credit registry towards a system that could be used to
              facilitate payment-like transactions is comparable to the principles of LETS-systems or, for example the unofficial financial network “Hawala”.</p>

            <p>
              <a href="https://medium.com/trustlines-protocol/people-powered-money-on-the-trustlines-protocol-ed411a86cc35">People-Powered Money vision blog post</a>.</p>

            <h3>Which other use cases are there?</h3>
            <p>The Trustlines Protocol is open source and may be used to develop any use case by anyone. To be supported by the Trustlines Foundation, the use case must align with the
              <a href="https://trustlines.foundation/">Trustlines Foundation's mission</a>.</p>

            <h3>I'm a fan of Trustlines, how can I contribute?</h3>
            <p>Follow us on
              <a href="https://twitter.com/TrustlinesFound">Twitter</a>
              to stay updated with the latest news. You can also sign up to be a Trustlines validator candidate, contribute to the code on
              <a href="https://github.com/trustlines-protocol">GitHub</a>, or take part in governance discussions.</p>

            <h3>I'm building a dapp and want to integrate the Trustlines Protocol. Where do I start?</h3>
            <p>That’s great! Feel free to let us know by
              <a href="mailto:info@trustlines.foundation">reaching out to us</a>. You can also start by going to the
              <a href="https://github.com/trustlines-protocol">Trustlines Protocol Github</a>
              and read any relevant documentation. You can ask any technical question on
              <a href="https://gitter.im/trustlines/">Gitter</a>.</p>

            <h2>Organizational</h2>

            <h3>What is the Trustlines Foundation's role?</h3>
            <p>The Trustlines Foundation is supporting research, development, deployment, governance and adoption of complementary currency systems, with a focus on open-source protocols designed to be utilized by decentralized p2p currency network designs.</p>

            <h3>Is there a trademark on Trustlines?</h3>
            <p>“Trustlines” and “Trustlines Network” are registered trademarks which are owned by the Trustlines Foundation. The purpose of the registration is to protect the usage of the terms “Trustlines” and “Trustlines Network” from inappropriate or
              malicious use. In the near future, transparent guidelines will be made publically available on how a party may use the “Trustlines” and “Trustlines Network” trademarks.</p>

          </div>
        </div>

        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </div>
    </div>
  </section>
{% endblock %}
