{% set pageId = "index" %}
{% extends "layout/_main.njk" %}

{% block bodyClass %}index{% endblock%}

{% block content %}

<section class="home hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        Leveraging trust to achieve financial<br />
        &amp; economic inclusion of all people.
      </h1>
    </div>
  </div>
  <div class="hero-foot has-text-centered p-b-lg">
    <div id="rootNewsletterBanner" />
  </div>
</section>

  <a id="about"></a>
  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container content content-large">
        <p>The Trustlines Foundation was established as a charitable organisation in 2018 in Liechtenstein. It pursues the charitable goal of promoting financial and economic inclusion of all people through decentralized peer-to-peer network protocols that serve common accounting.</p>
        <p>The Trustline Foundation:</p>

        <ul>
          <li>Supports (financially and in kind) research, development, and governance of the Trustlines Protocol while being unbiased with regard to specific use cases.</li>
          <li>Organises and promotes open source development around the Trustlines Protocol and maintains the respective Github repositories.</li>
          <li>Deploys the required core components (e.g. smart contracts) which support the Trustlines Protocol.</li>
          <li>Has ownership over the Trustlines brand and trademark, and maintains the relevant domains.</li>
        </ul>

        <p>Read more about the foundation’s purpose and motivation in the <a href="https://medium.com/trustlines-foundation/trustlines-foundation-announcement-70203af68818">Trustlines Foundation announcement →</a></p>
      </div>
    </div>
    <div class="hero-foot has-text-centered p-b-lg">
      <a href="#get-involved"><img src="/img/arrow-down.svg"></a>
    </div>
  </section>

  <a id="get-involved"></a>
  <section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <div class="columns m-t-xl m-b-xl">
          <div class="column content content-large">
            <p>Get involved and support our mission by securing the Trustlines Blockchain. Sign up to become a validator today!</p>
            <p>
              <a href="https://medium.com/trustlines-foundation/become-a-trustlines-validator-candidate-using-proof-of-sociality-ef67d0cf1e86" class="has-text-white">
                Read more →
              </a>
            </p>
          </div>
          <div class="column content content-large">
            <p>The Foundation is part of the Trustlines Network Ecosystem. Find out more by visiting the Trustlines Network website.</p>
            <p><a href="https://trustlines.network/" class="has-text-white">Go to website →</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
