{% set pageId = "merkle" %}
{% extends "layout/_main.njk" %}

{% block bodyScripts %}
  {{ super() }}
  <script src="/js/{{ env.npm_package_version | urlencode }}/merkle-drop.js"></script>
{% endblock %}

{% block content %}

  {% if env.SHOW_MERKLE_DROP === 'true' %}
    <section class="section content-wrapper">
      <div id="root"/>

    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <div class="content">

        {% if env.SHOW_MERKLE_DROP === 'false' %}
          <h1>Trustlines Merkle Drop</h1>
        {% endif %}

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h1>Trustlines Merkle drop</h1>
            <hr/>
            <p>Transaction fees on the Trustlines Blockchain will be paid in Trustlines Coins (TLC). A Merkle drop on Ethereum will distribute Trustlines Network Tokens (TLN), which can be converted into TLC using a token bridge.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>Introducing the Trustlines Merkle drop</h2>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <p>Trustlines Blockchain requires transaction fees to be paid in the cryptocurrency native to the blockchain: the Trustlines Network Coins (TLC). However, in order to reach a broad set of individuals, a Merkle drop (a “non-spammy” version of an
              airdrop) of Trustlines Network Tokens (TLN) will be conducted on Ethereum. TLN are ERC20 tokens which can be converted to TLC by sending them to a bridge contract.</p>
            <p>The Merkle drop is a smart contract deployed on the Ethereum blockchain. It contains a list of addresses and the amount of claimable Trustlines Network Tokens (TLN) per address in the form of a Merkle root. In order to claim the tokens, recipients
              will have to provide a Merkle proof to this contract which shows that they are entitled to TLN.</p>
            <p>Trustlines Foundation aims to distribute up to 70% of TLN of which 50% will be allocated in the first Merkle drop. More details will be communicated once the final Merkle drop list has been created.</p>
            <p>The tokens won’t be pushed onto accounts, but will instead have to be claimed from the Merkle drop smart contract.</p>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>The Merkle drop will</h2>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-1 has-text-centered">
            <img src="/img/icon-reward.svg">
          </div>
          <div class="column is-7">
            Reward
            <strong>early contributors</strong>, e.g. validators, testers, developers and others.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-1 has-text-centered">
            <img src="/img/icon-target.svg">
          </div>
          <div class="column is-7">
            Target
            <strong>potential stakeholders</strong>
            of the Trustlines Network, e.g. individuals/ projects aligned with the mission of Trustlines, who may turn into users of the Trustlines technology stack.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-1 has-text-centered">
            <img src="/img/icon-audience.svg">
          </div>
          <div class="column is-7">
            Make TLC available to a
            <strong>wide audience</strong>
            consisting of addresses and individuals from within the crypto and community currency ecosystems.
            <hr/>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10 mdt">
            <h2>Merkle Drop Tutorial</h2>
            <br/>
            <center>
              <object width="695" height="515" data="https://www.youtube-nocookie.com/embed/bHLYpZstZKs"></object>
            </center>
          </div>
        </div>

        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <h2>Merkle Drop FAQ</h2>

            <h3>1. What is the Trustlines Merkle drop?</h3>
            <p>The Trustlines Merkle drop is a token distribution method chosen by the Trustlines Foundation for the Trustlines Network Token. You can read more about it in this
              <a href="https://medium.com/trustlines-foundation/announcing-the-trustlines-network-token-tln-merkle-drop-f8685eff7ffa" target="_blank">blog post</a>.</p>

            <h3>2. Why did you choose a Merkle drop?</h3>
            <p>The Trustlines Foundation designed the distribution method based on the idea of
              <a href="https://medium.com/@DJohnstonEC/the-smartdrop-model-859888916d94" target="_blank">smart drops</a>.</p>
            <p>The Merkle drop is used as a tool to</p>
            <ul>
              <li>Reward early contributors, e.g. validators, testers, and developers</li>
              <li>Target potential stakeholders of the Trustlines Network, e.g. individuals/ projects aligned with the mission of Trustlines, who may turn into users of the Trustlines Protocol</li>
              <li>Make TLC available to a wide audience consisting of addresses and individuals from within the crypto and alternative currency ecosystems by providing them with TLN that they can convert into TLC via the bridge</li>
            </ul>
          </p>

          <h3>3. Can someone have multiple allocations of TLN?</h3>
          <p>Yes. There are two ways in which this could happen.</p>
          <ol>
            <li>You happen to control the private key of multiple eligible Ethereum addresses.</li>
            <li>One or more of your eligible Ethereum addresses fit into more than one group of Merkle drop receivers.</li>
          </ol>

          <h3>4. Can I claim tokens for a different address than the one I’m signing with?</h3>
          <p>No, the signing address must also be the eligible address.</p>

          <h3>5. How much of the Total supply of TLN is in the first Merkle drop?</h3>
          <p>50% with up to another 20% scheduled for future distribution.</p>

          <h3>6. Which addresses are included in the Merkle drop?</h3>
          <p>These are the groups of eligible addresses that can now claim their TLN.</p>
          <ul>
            <li>Early contributors to the
              <a href="https://trustlines.network/" target="_blank">Trustlines Network</a>
              ecosystem. This includes, for example, testers and
              <a href="https://explore.laika.trustlines.foundation/" target="_blank">testnet</a>
              validatorsas well as those who whitelisted their address to become validators, but did not secure a slot in the
              <a href="auction/">auction</a>.
            </li>
            <li>People who were interested in participating in the drop via
              <a href="https://twitter.com/TrustlinesFound/status/1201901024576987137" target="_blank">our community channels</a>
            </li>
            <li>
              <a href="https://ethberlinzwei.com/" target="_blank">ETHBerlin2</a>
              hackers</li>
            <li>Addresses included in the Genesis block of
              <a href="https://ethereum.org/" target="_blank">Ethereum</a>
              (with at least one transfer executed)</li>
            <li>
              <a href="https://makerdao.com/" target="_blank">Maker (MKR)</a>,
              <a href="https://www.bancor.network/" target="_blank">Bancor (BNT)</a>
              and
              <a href="https://makerdao.com/" target="_blank">DAI</a>
              token holders</li>
            <li>
              <a href="https://blog.gnosis.pm/the-dxdao-has-awoken-78cb2e39661c" target="_blank">dxDAO</a>
              Rep holders and
              <a href="https://www.humanitydao.org/" target="_blank">HumanityDAO</a>
              human participants</li>
            <li>
              <a href="https://www.poap.xyz/" target="_blank">POAP</a>, Proof-of-Attendance NFT holders</li>
            <li>Collection of ETH addresses, that underwent some form of identity verification in the past</li>
          </ul>

          <h3>7. What can I do with my TLN?</h3>
          <p>TLN is an ERC20 token that can be transferred or be converted to TLC by sending them to the Trustlines Blockchain
            <a href="https://etherscan.io/address/0x18BDC736b23Ff7294BED9fa988a1443357C7B0ed" target="_blank">bridge contract</a>
            on Ethereum.</p>

          <h3>8. Are Trustlines Network Tokens, TLN, freely transferable?</h3>
          <p>Yes, TLN is an ERC20 token on Ethereum.</p>

          <h3>9. Are Trustlines Network Coins, TLC, freely transferable?</h3>
          <p>Yes. You can transfer TLC freely on Trustlines Blockchain.</p>

          <h3>10. When can people actually use the Trustlines Blockchain?</h3>
          <p>The
            <a href="https://explore.tlbc.trustlines.foundation/" target="_blank">Trustlines Blockchain</a>
            went live November 21st and since then people have been building use cases for the blockchain.</p>

          <h3>11. When does the Merkle drop end?</h3>
          <p>The Trustlines Foundation expects that ineligibility of all Ethereum addresses, who have not claimed their tokens, will happen by the end of 2021.</p>

          <h3>12. Does the amount I’m able to claim decay at some point?</h3>
          <p>Yes. The tokens people are entitled to will begin to decay linearly over two years starting from 31.12.2019 at 23:59 CET.</p>

          <h3>13. If I provided an Ethereum address for the Merkle drop or think I’m included in the receiver list, am I being sent TLN automatically?</h3>
          <p>No. You must submit a Merkle proof from an eligible Ethereum address by yourself. Check
            <a href="https://www.youtube.com/watch?v=bHLYpZstZKs" target="_blank">this tutorial</a>
            for a quick introduction on how to do so.</p>

          <h3>14. How does the Merkle drop work?</h3>
          <p>The Merkle drop is a smart contract deployed on the
            <a href="https://ethereum.org/" target="_blank">Ethereum blockchain</a>
            that contains
            <a href="https://github.com/trustlines-protocol/merkle-drop-data" target="_blank">a list of addresses</a>
            and claimable Trustlines Network Tokens per address in the form of a
            <a href="https://en.wikipedia.org/wiki/Merkle_tree" target="_blank">Merkle root</a>. People can provide a proof to this contract and withdraw tokens they are entitled to.
            <a href="index.html">The Trustlines Foundation</a>
            has a web service that allows people to either claim their tokens via a web3 integration (e.g. Metamask) or calculate the needed proof. Once the proof has been created and eligibility established, it can be submitted to the
            <a href="https://etherscan.io/address/0x0a6f0c541be542c098b7ee03c9c634f20bcf8422" target="_blank">Merkle drop smart contract</a>.</p>

          <h3>15. Do I have to use the Trustlines Foundation’s website to claim TLN?</h3>
          <p>No, you can produce your own proof for the Merkle drop. The logic behind the creation of the Merkle tree is
            <a href="https://github.com/trustlines-protocol/merkle-drop/blob/master/contracts/contracts/MerkleDrop.sol" target="_blank">public</a>
            so that anyone can construct the proof for themselves.</p>
        </div>
      </div>

    </div>
  </section>
  <div class="content">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>

{% endblock %}
