{% set pageId = "terms-conditions-merkle-drop" %}
{% extends "layout/_main.njk" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="content">
      <h1>Terms and Conditions for the Trustlines Merkle Drop</h1>
    </div>

    {% include "merkle_drop/_terms-conditions.njk" %}

  </div>
</section>
{% endblock %}
