<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Trustlines Foundation</title>
        <link rel="shortcut icon" type="image/png" href="/img/190820-TL-Websites-Favicons-02.png"/>
        <meta
          content="The Trustlines Foundation was established as a charitable organisation in 2018 in Liechtenstein. It pursues the charitable goal of promoting financial and economic inclusion of all people through decentralized peer-to-peer network protocols that serve common accounting."
          name="description">
        <meta content="Trustlines Foundation" property="og:title">

        {% block headStyles %}
          <link rel="stylesheet" href="/css/{{ env.npm_package_version | urlencode }}/style.css">
        {% endblock %}

        {% block headScripts %}
          <script src="//polyfill.io/v3/polyfill.min.js?flags=gated&features=es6%2Cfetch"></script>
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">

        <noscript>You need to enable JavaScript to run this app.</noscript>

        {% block page %}{% endblock %}

        {% block bodyScripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <script src="/js/{{ env.npm_package_version | urlencode }}/main.js"></script>
            <script src="js/{{ env.npm_package_version | urlencode }}/common.js"></script>
            <script src="js/{{ env.npm_package_version | urlencode }}/newsletter.js"></script>
            {% if env.NODE_ENV == 'development' %}
              <script src="//localhost:35729/livereload.js?snipver=1"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
