<footer class="footer">

      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth content">
            <p><img src="/img/logo-light.svg" class="logo"></p>
            <p class="icons">
              <a href="https://medium.com/trustlines-foundation"><img src="/img/medium.svg" class="icon"></a>
              <a href="https://twitter.com/TrustlinesFound"><img src="/img/twitter.svg" class="icon"></a>
              <a href="https://www.youtube.com/channel/UCdNvItQZDL8Qj0HJGIM_AYA"><img src="/img/youtube.svg" class="icon"></a>
            </p>

          </div>

          <div class="column is-one-fifth content">
            <h4>Legal</h4>
            <p><a href="/legal-imprint-privacy-policy.html">Privacy Policy &amp; Legal Imprint</a></p>
            <p><a href="/terms-conditions-merkle-drop.html">Merkle drop Terms &amp; Conditions</a></p>
            <p><a href="mailto:contact@trustlines.foundation">Contact</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Tech</h4>
            <p><a href="https://github.com/trustlines-protocol">Trustlines Protocol Github</a></p>
            <p><a href="https://gitter.im/trustlines/">Gitter Technical Helpchat</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Trustlines Blockchain</h4>
            <p><a href="https://explore.tlbc.trustlines.foundation">Blockexplorer</a></p>
            <p><a href="https://netstats.tlbc.trustlines.foundation">Netstats</a></p>
          </div>

          <div class="column is-one-fifth content">
            <h4>Laika Testnet</h4>
            <p><a href="https://explore.laika.trustlines.foundation/">Blockexplorer</a></p>
            <p><a href="https://netstats.laika.trustlines.foundation">Netstats</a></p>
          </div>

      </div>
    </div>
    </div>
</footer>
