<header>
  <nav class="navbar is-transparent is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
          <a class="navbar-item" href="/index.html">
              <img src="/img/logo.svg">
          </a>
          <a role="button" class="navbar-burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
          </a>
      </div>

      <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
              {# <a href="/index.html" class="navbar-item is-size-6{{ ' is-active' if pageId === 'index' }}">Home</a> #}
              <a href="/protocol.html" class="navbar-item is-size-6{{ ' is-active' if pageId === 'protocol' }}">Protocol</a>
              <a href="/auction.html" class="navbar-item is-size-6{{ ' is-active' if pageId === 'auction' }}">Auction</a>
              <a href="/merkle-drop.html" class="navbar-item is-size-6{{ ' is-active' if pageId === 'merkle' }}">Merkle drop</a>
              <a href="/trustlines-101.html" class="navbar-item is-size-6{{ ' is-active' if pageId === '101' }}">Trustlines 101</a>
              <a href="/faq.html" class="navbar-item is-size-6{{ ' is-active' if pageId === 'faq' }}">FAQ</a>
          </div>
      </div>
    </div>
  </nav>
</header>
