{% extends "layout/_base.njk" %}

{% block page %}

    {% include "layout/_header.njk" %}

    {% block content %}{% endblock %}

    <div id="rootNewsletterSection" class="has-background-light"></div>

    {% include "layout/_footer.njk" %}

{% endblock %}
